{% extends 'base.html.twig' %}

{% block title %}Fridge{% endblock %}

{% block body %}
<a href="{{ path("dashboard_index") }}"><i class="fas fa-arrow-circle-left"></i></a>

{{container.name}}

{% if products_list is empty %}
    <a href="{{ path('dashboard_product_add')}}"> Créer votre première liste</a>
{% else %}
    {% for product in products_list %}
    <div class="d-flex flex-row fridge-bg-color justify-content-around ">
        <div class="justify-content-around">
            <span> {{ product.name }}</span>
            <span> {{ product.quantity }}</span>
        </div>
        <div class="">
           <a href="{{ path('dashboard_product_edit', {id: product.id})}}"><i class="far fa-list-alt" ></a></i>
            <i class="far fa-check-square"></i>
            <i class="fas fa-undo"></i>
            <i class="fas fa-times"></i>  
        </div>
    </div>

    {% endfor %}
    <a href="{{ path('dashboard_product_add') }}">Ajouter un produit</a>

{% endif %}


{% endblock %}
